<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Secret Santa</span>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a [routerLink]="['/create-game']" [routerLinkActive]="['active']" class="nav-link">Create Game</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="isGameGenerated">
          <a [routerLink]="['/generated-game']" [routerLinkActive]="['active']" class="nav-link">Generated Game</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a [routerLink]="['/how-to-play']" [routerLinkActive]="['active']" class="nav-link">How To Play</a>
        </li>
      </ul>
    </div>
  </div>
</nav>