<h1>How To Play</h1>
<p>Welcome to the Secret Santa game organisation tool!</p>

<h2>How The Game Works</h2>
<p>This version of secret santa is intended to help large families avoid excessive
    gift purchasing at Christmas. This is for families who would like to get gifts
    for every member of their immediate family, but not every member of their extended family</p>
<p>The game works by assigning each player a member of a different family to buy a gift for. 
Players will not be allocated to a member of their own immediate family. The players can all bring
their gifts to any large family gathering for Christmas to exchange</p>
<p>The gift givers are usually kept secret, but this is not required. It is also helpful to set a price limit</p>

<h2>How To Use The Tool</h2>
<p>Click on the 'Create Game' button at the top of the screen. You can then fill in all of the players. 
    You will need to create a group for each family. Members of each group will not be assigned each other for giving gifts.
    Once you have added all of the players, click the 'Generate Game' button.
</p>
<p>
    You will now see a screen with a list of all the players that have been matched to another play to give a gift.
    If any players were not able to be matched to a another, either to give a gift or receive one, they will be displayed underneath.
    You can also choose to regenerate the game, which will create a new set of matches, or go back and modify the players
</p>